*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.timeCounterMainContainer{
	width: 100%;
	display: flex;
	padding: 30px;
	justify-content: center;
	background: azure;
	height: 100vh;
	overflow: scroll;
	
	*{
		border-radius: 0;
	}

	.timeCounterContainer{
		min-width:300px;
		background: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
		padding: 20px;
		height: fit-content;
		color: #000;

		button{
			background-color: #fff;
		}

		.addNewTimerBtnContainer{
			width: 100%;
			button{
				width: 100%;
				height: 38px;
				border-radius: 0;
				border: 2px solid #000;
				font-size: 15px;
				font-weight: bold;
			}
		}
		
		.newTimerForm{
			display: flex;
			flex-direction: column;
			padding: 10px;
			border-radius: 8px;
			gap: 10px;
			width: 100%;
			border: 2px solid #bdb2b2;
			-webkit-transform: all 0.5s ease;
			   -moz-transform: all 0.5s ease;
			    -ms-transform: all 0.5s ease;
			     -o-transform: all 0.5s ease;
			        transform: all 0.5s ease;

			.formInput{
				display: flex;
				flex-direction: column;
				width: 100%;

				& *{
					margin: 0;
				}
				h3{
					font-weight: 500;
					font-size: 16px;
					color: #000; 
					padding: 0;

				}

				input{
					width: 100%;
					padding: 10px;
					border: 2px solid #e5e3e3;
				}
			}

			.formBtnContainer{
				display: flex;
				justify-content: space-between;
			}

			button{
				width: 100px;
				padding: 6px 12px;
				font-size: 13px;
				border: 3px solid #4edd4e;
				font-weight: 600;
				-webkit-transition: all .5s ease;
				   -moz-transition: all .5s ease;
				    -ms-transition: all .5s ease;
				     -o-transition: all .5s ease;
				        transition: all .5s ease;
				
				&:hover{
					box-shadow: 0px 0px 2px 5px #4edd4e36;
					background: #4edd4e36;
				}
			}
			.cancelBtn{
				border: 3px solid #a17553;


				&:hover{
					box-shadow: 0px 0px 2px 5px #a175532f;
					background: #a175532f;
				}
			}
		}
		div{
			width: 100%;
			display: flex;
			justify-content: center;
	
			.displayTimerContainer{
				display: flex;
				flex-direction: column;
				width: 100%;
				padding: 14px;
				border: 2px solid #bdb2b2;
				border-radius: 7px;
				gap: 10px;
				
				*{
					color: #000;
					padding: 0;
					margin: 0;
				}
				.titleProjectContainer{
				 	flex-direction: column;
				 	gap: 4px;
					h2{
						font-size: 20px;
						font-weight: 900;
					}
					h3{
						font-size: 16px;
						font-weight: 600;
					}
				 }

				.timerDisplay{
					display: flex;
					justify-content: center;
					font-size: 25px;
					font-weight: 900;
				}
				.timerProjectBtnContainer{
					display: flex;
					justify-content: space-between;

					button{
						width: 90px;
						font-size: 13px;
						padding: 5px 10px;
						border: 2px solid #0a08d5;
						border-radius: 0;
						font-weight: bold;
					}

				}
				.timerContollerBtnDefault{
					width: 100%;
					padding: 10px;
					border: 3px solid #4edd4e;
					font-weight: bold;
				}

				.timerContollerBtnActive{
					width: 100%;
					padding: 10px;
					border: 3px solid #f44336;
					font-weight: bold;
				}
			}
		}
	}
}